* {text-align: center; font-family: Cooper Black, sans-serif;}
img{

    width: 20%; 
    border-radius: 10px;
    Margin: 150px;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family:Cooper Black;
}
 
body{
    background-color: rgb(120, 10, 10);
}
