.secret-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    color: rgb(26, 25, 25);
    background-color: rgb(179, 49, 49);
    padding: 20px;
    border-radius: 10px;
}
.secret-button:hover {
    background-color: rgb(202, 8, 8);
    color: rgb(209, 45, 162);
}

body {
    background-color: rgb(164, 164, 152);
    color: rgb(0, 0, 0);
    font-family: Cooper Black, sans-serif;
    text-align: 20px;
}

video {
    display: none;
    margin:  auto;
    width: 45%;
    border-radius: 25px;
}