.secret-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    color: rgb(26, 25, 25);
    background-color: rgb(179, 49, 49);
    padding: 20px;
    border-radius: 10px;
}
.secret-button:hover {
    background-color: rgb(167, 66, 66);
    color: rgb(209, 45, 105);
}

body {
    background-color: rgb(164, 164, 152);
    color: rgb(20, 20, 20);
    font-family: Cooper Black, sans-serif;
    text-align: 20px;
}


video {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    border-radius: 25px;
    z-index: 9999;
}

img {
    width: 25%;
    border-radius: 15px;
    margin: 40px;
    display: block;
}